<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>kr.wook.alfred-latex-symbols-workflow</string>
    <key>connections</key>
    <dict>
      <key>21557827-8003-42B7-A042-16D4C9278FEC</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>E2ABE273-8D1A-4CF1-AD81-B5F4D7CF7A9D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Jongwook Choi</string>
    <key>description</key>
    <string>Alfred workflow to find LaTeX commands for symbols</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>LaTeX Symbols</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <false/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>escaping</key>
          <integer>62</integer>
          <key>keyword</key>
          <string>tex</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <false/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string>Search LaTeX Symbols</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>21557827-8003-42B7-A042-16D4C9278FEC</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <true/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>E2ABE273-8D1A-4CF1-AD81-B5F4D7CF7A9D</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>21557827-8003-42B7-A042-16D4C9278FEC</key>
      <dict>
        <key>xpos</key>
        <integer>300</integer>
        <key>ypos</key>
        <integer>250</integer>
      </dict>
      <key>E2ABE273-8D1A-4CF1-AD81-B5F4D7CF7A9D</key>
      <dict>
        <key>xpos</key>
        <integer>700</integer>
        <key>ypos</key>
        <integer>250</integer>
      </dict>
    </dict>
    <key>webaddress</key>
    <string>https://github.com/wookayin/alfred-latex-symbols-workflow</string>
    <key>version</key>
    <string>1.0.0</string>
  </dict>
</plist>